
<h1>ðŸŒ¼MyTwitterðŸŒ¼</h1>

<div class="button-container">
<%= link_to "æ–°ã—ã„æŠ•ç¨¿",new_post_path, class: "link-button"%></div>
<ul> 
  <% @posts.each do |post| %>
  <li>
    <p><%= post.content %></p>
    <span>
      <small><%= post.created_at %></small>
    </span>
    <div class = "edit-delete-wrapper">
    <p class="button">
    <%= link_to "ç·¨é›†", edit_post_path(post)%>
    <%= button_to"å‰Šé™¤", post_path(post),method: :delete%>
    </p>
    </div>
  </li>
  <% end %>

</ul>




<%= stylesheet_link_tag "application.css", :media => "all" %>