<h1>MyTwitterðŸŒ·</h1>

<%= form_for(@post) do |f|%>
<%= render 'layouts/error_messages', model: f.object %>
<% end %>



<%= form_with model: @post, html: {class: "form-container"} do |form| %>
<div class="form-input">
<%= form.label :æŠ•ç¨¿ã™ã‚‹%> <%= form.text_area :content%>

</div>

<div class="button-container"><%= form.submit "æŠ•ç¨¿", class: "link-button" %></div>
<% end %>

<div class="show"><%= link_to "ãƒ„ã‚¤ãƒ¼ãƒˆä¸€è¦§", 'http://127.0.0.1:3000/posts',id: "home"%></div>


<%= stylesheet_link_tag "application.css", :media => "all" %></div>

